{% load crispy_forms_tags %}
<div class="row g-3">
  {{ errors }}
  {% if errors and not fields %}
    <p>{% for field in hidden_fields %}{{ field }}{% endfor %}</p>
  {% endif %}
  {% for field, errors in fields %}
    {{ errors }}
    <div class="col-md-6">
      {{ field|as_crispy_field }}
      {% if forloop.last %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
      {% endif %}
      </div>
  {% endfor %}
  {% if not fields and not errors %}
    {% for field in hidden_fields %}{{ field }}{% endfor %}
  {% endif %}
  <button class="btn btn-primary mb-5" id="form_submit" type="submit"hx-post="{% url 'form_generator:form_detail' form.instance.form.id %}">{{form.instance.submit_text}}</button> 
</div>
